.button {
  anchor-name: --button;
  display: flex;
  position: relative;
  cursor: pointer;
  
  &:hover svg {
    fill: var(--text-color-hover);
  }

  svg {
    width: clamp(20px, 8dvw, 35px);
    height: auto;
    fill: var(--text-color);
    position: absolute;
    top: 0;
    transition: opacity .3s, scale .5s;

  }

  &.dark .sun {
    opacity: 0;
    scale: .5;
  }
  &.dark .desktop {
    opacity: 0;
    scale: .5;
  }
  &.dark .moon {
    opacity: 1;
    scale: 1;
    position: relative;
  }

  &.system .moon {
    opacity: 0;
    scale: .5;
  }
  &.system .sun {
    opacity: 0;
    scale: .5;
  }
  &.system .desktop {
    opacity: 1;
    scale: 1;
    position: relative;
  }

  &.light .moon {
    opacity: 0;
    scale: .5;
  }
  &.light .desktop {
    opacity: 0;
    scale: .5;
  }
  &.light .sun {
    opacity: 1;
    scale: 1;
    position: relative;
  }
}

.dialog {
  position: absolute;
  position-anchor: --button;
  background-color: transparent;
  border: none;

  &.down{
      top: calc(anchor(bottom) + 10px);
    left: anchor(center);
    transform: translateX(-50%);
  }
  &.up{
    top: calc(anchor(top) + -10px);
    left: anchor(center);
    transform: translateX(-50%) translateY(-100%);
  }

  &::backdrop {
    background-color: transparent;
  }

  .dialogFlex {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-sec);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    overflow: hidden;

    button {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: var(--text-size);
      padding: 4px 8px;
      color: var(--text-color);
      font-family: "Poppins";
      cursor: pointer;
      border: 1px solid transparent;

      &:focus-visible {
        outline: none;
        background-color: var(--bg-color);
        border: 1px solid var(--text-color);
      }

      &:hover {
        background-color: var(--bg-color);
      }

      svg {
        width: 28px;
        fill: var(--text-color);
      }
    }
  }
}
