.filtersButton {
  max-width: max-content;
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: var(--text-size);
  font-family: "Montserrat";
  border: none;
  background-color: transparent;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-color-sec-hover);
  }

  svg {
    height: 25px;
    fill: var(--text-color);
  }
}

.filtersDialog {
  background-color: var(--bg-color);
  left: 100%;
  top: 0;
  min-height: 100dvh;
  min-width: min(250px, 100dvw);
  border: none;
  box-shadow: 0 0 10px #0007;

  &[open] {
    display: flex;
    animation: open-right-navbar 0.15s both;
  }

  &::backdrop {
    background-color: #0003;
  }

  .filtersDialogFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 25px;
    padding: min(20px, 5dvw);
    padding-top: 50px;
    min-width: 100%;

    .filtersDialogClose {
      background-color: transparent;
      border: none;
      position: absolute;
      top: 10px;
      right: 10px;

      svg {
        fill: var(--text-color);
        width: clamp(20px, 5dvw, 25px);
        height: auto;
        cursor: pointer;
      }
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0;
      border: none;
      padding-bottom: 20px;
      background-color: transparent;
    }
  }
}

@keyframes open-right-navbar {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
