.productsGrid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 180px), 1fr));
  margin-top: 30px;
  gap: 20px;
}

@media screen and (max-width: 480px) {
  .productsGrid {
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 140px), 1fr));
  }
}
