.modal {
  max-height: 90dvh;
  width: 80dvw;
  max-width: 500px;
  top: 50dvh;
  left: 50dvw;
  translate: -50% -50%;
  background-color: var(--bg-color);
  box-shadow: var(--shadow);
  border: none;
  border-radius: 10px;

  .closeBtn {
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
    display: flex;
    color: var(--text-color);

    svg {
      height: auto;
      width: var(--h2-size);

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &::-webkit-scrollbar-track-piece {
    margin: 10px;
  }
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-sec);
    border-radius: 0px;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 90dvw;
    max-width: 1000px;
  }
}
