.container {
  display: flex;
  gap: 10px;
  color: var(--text-color);
  width: 100%;

  img {
    height: 65px;
    border-radius: 5px;
    align-self: center;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;

    p {
      font-size: var(--text-size-small);
      font-family: var(--font-family-1);
      font-weight: 600;
      line-height: 1.2;
    }

    .footer {
      display: flex;
      flex-direction: column;

      p {
        font-size: var(--text-size-small);
        font-family: var(--font-family-1);
        font-weight: 400;
      }

      button {
        font-size: var(--text-size-small);
        font-family: var(--font-family-1);
        color: var(--bg-color);
        background-color: var(--text-color);
        padding: 4px 10px;
        border-radius: 3px;
        align-self: flex-end;
        cursor: pointer;
      }
    }
  }
}
