.productCard {
  display: flex;
  border: 1px solid var(--border-color);
  flex-direction: column;
  justify-content: space-between;
  max-width: min(100%,350px);
  gap: 10px;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: scale 0.2s ease, border-color 0.2s ease;
  
  &:hover {
    scale: 1.02;
    border-color: var(--primary-color);
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }

  h3 {
    font-size: var(--text-size);
    font-weight: 400;
  }

  .description {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: var(--text-size-small);
    color: var(--text-color-sec);
    margin: 10px 0;

    .descriptionMore{
        color: var(--primary-color);
    }
  }

  .priceContainer{
    display: flex;
    justify-content: space-between;
    align-items: end;
    
    .price {
        font-size: var(--text-size);
        color: var(--primary-color);
      }

      .addToCartBtn{
        font-family: "Poppins";
        font-size: var(--text-size-small);
        background-color: var(--primary-color);
        color: var(--text-color);
        border: none;
        padding: 5px 10px;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: var(--primary-color-hover);
        }
      }
  }
}
