.loadingScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  h3 {
    font-size: var(--h2-size);
  }

  .cube {
    --width: 75px;
    width: var(--width);
    height: var(--width);
    aspect-ratio: 1/1;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 5s linear infinite both;
  }
}

.cubeFace {
  --translate: calc(var(--width)/2);
  width: 100%;
  height: 100%;
  border: 2px solid var(--primary-color);
  position: absolute;

  &:nth-child(1) {
    transform: translateZ(var(--translate));
  }
  &:nth-child(2) {
    transform: rotateY(180deg) translateZ(var(--translate));
  }
  &:nth-child(3) {
    transform: rotateY(-90deg) translateZ(var(--translate));
  }
  &:nth-child(4) {
    transform: rotateY(90deg) translateZ(var(--translate));
  }
  &:nth-child(5) {
    transform: rotateX(90deg) translateZ(var(--translate));
  }
  &:nth-child(6) {
    transform: rotateX(-90deg) translateZ(var(--translate));
  }
}

@keyframes rotate {
  0% {
    transform: perspective(500px) rotateY(0deg) rotateZ(0);
  }
  25% {
    transform: perspective(500px) rotateY(90deg) rotateZ(90deg);
  }
  50% {
    transform: perspective(500px) rotateY(180deg) rotateZ(180deg);
  }
  75% {
    transform: perspective(500px) rotateY(270deg) rotateZ(270deg);
  }
  100% {
    transform: perspective(500px) rotateY(360deg) rotateZ(360deg);
  }
}