.mainContainer {
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: start;
  gap: 15px;
  padding: 0 clamp(10px,5dvw,20px);
}

.productsContainer {
  flex: 600px 5 1;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  min-height: 300px;

  h2 {
    font-size: var(--h2-size);
    padding-bottom: 20px;
  }

  .productsGrid {
    display: grid;
    justify-items: center;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(230px,1fr));
    gap: 30px;
  }
}