.header {
  position: sticky;
  top: 0;
  background-color: var(--bg-color-sec);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  width: 100%;
  z-index: 100;
}

.header-container {
  max-width: 2000px;
  padding: 10px 3dvw;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: clamp(1px, 1.5dvw, 15px);
  justify-content: space-between;
}

.openDialog-button {
  background-color: transparent;
  border: none;
  cursor: pointer;

  svg {
    fill: var(--text-color);
    width: clamp(20px, 8dvw, 35px);
    height: auto;
    cursor: pointer;
    transition: 0.2s scale;

    &:hover {
      fill: var(--text-color-hover);
      scale: 1.1;
    }
  }
}

h1 {
  font-size: var(--h1-size);
  margin-right: auto;
  min-width: 0;
  white-space: nowrap;
  overflow: clip;
  transition: .2s scale;

  &:hover {
    scale: 1.04;
  }

  &:has(a:focus-visible) {
    outline: 2px solid;
    outline-offset: 2px;
  }

  a {
    color: var(--text-color);
    text-decoration: none;

    &:hover {
      color: var(--text-color-hover);
    }

    &:focus-visible {
      outline: none;
    }
  }
}

.header-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
  gap: 10px;
  padding: clamp(7px, 2dvw, 10px) clamp(10px, 2dvw, 15px);
  border-radius: 10px;
  border: 1px solid var(--border-color);
  transition: 0.2s border-color;

  &:hover {
    border-color: var(--primary-color);
    border-width: 2px;
  }

  a {
    font-size: var(--text-size);
    text-decoration: none;
    color: var(--text-color);
    transition:
      0.2s color,
      0.2s scale;

    &:hover {
      color: var(--primary-color);
      scale: 1.05;
    }
  }
}

.githubHeader {
  display: flex;

  svg {
    fill: var(--text-color);
    width: clamp(20px, 8dvw, 35px);
    height: auto;
    transition: .2s scale;

    &:hover {
      fill: var(--text-color-hover);
      scale: 1.1;
    }
  }
}

.account-btn {
  background-color: transparent;
  white-space: nowrap;
  border: 1px solid var(--primary-color);
  font-size: var(--text-size);
  border-radius: 7px;
  color: var(--text-color);
  padding: clamp(7px, 2dvw, 10px) clamp(10px, 2dvw, 15px);
  cursor: pointer;
  transition:
    0.2s border-color,
    0.2s color,
    0.2s background-color;

  &.login {
    border: 1px solid var(--border-color);
  }

  &.login:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
  }

  &.signUp {
    background-color: var(--primary-color);
    color: var(--accent-color);

    &:hover {
      background-color: var(--primary-color-hover);
    }
  }
}
