:root {
  --h1-size: clamp(1rem, 5vw, 2.1rem);
  --h2-size: clamp(.8rem, 4.3vw, 1.5rem);

  --text-size: clamp(.7rem, 3vw, 1rem);
  --text-size-small: clamp(.5rem, 3vw, .8rem);

  --primary-color: #7700ff;
  --primary-color-hover: #6600dd;
}
:root[data-theme="dark"] {
  --bg-color: #111;
  --bg-color-sec: #141414;
  --bg-color-sec-hover: #111;

  --text-color: #ddd;
  --text-color-sec: #bbb;
  --text-color-hover: #bbb;
  --border-color: #333;
}
:root[data-theme="light"] {
  --bg-color: #ddd;
  --bg-color-sec: #d5d5d5;
  --bg-color-sec-hover: #cfcfcf;

  --text-color: #111;
  --text-color-sec: #111;
  --text-color-hover: #373737;
  --border-color: #aaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  background-color: transparent;
  border: none;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100dvh;
  position: relative;
  box-sizing: content-box;
  padding-bottom: 50px;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  transition: transform .15s;
}

body:has(dialog[data-direction="right"][open]) {
  transform: translateX(min(-250px, 100%));
}

body:has(dialog[data-direction="left"][open]) {
  transform: translateX(min(250px, 100%));
}

.footer {
  position: absolute;
  bottom: 0%;
}